
        <!-- #### REQUIRED META TAGS #### -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- #### BOOTSTRAP CSS #### -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

        <!-- #### JAVASCRIPT #### -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- #### GOOGLE FONTS #### -->
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300" rel="stylesheet">
        
        


        <title> Bootstrap Carousel Fade </title>
    
  
    
    

            <!-- #### CAROUSEL FADE #### -->
            <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                    
                <div class="carousel-inner">

                    <!-- #### SLIDE ONE #### -->
                    <div class="carousel-item active" style="background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .6)), url('https://images.pexels.com/photos/221455/pexels-photo-221455.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">

                        <div class="text-center p-3 hero">
                            <div class="container">
                                <div class="col">
                                       
                                    <h5 class="text-uppercase text-white mt-3 text-h5-hero">  Welcome User </h5>

                                    <h1 class="text-uppercase text-white text-hero"> Purchase Order Management </h1>
                            </div>
                            </div>
                        </div>

                    </div>

                    <!-- #### SLIDE TWO #### -->
                    <div class="carousel-item" style="background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .6)), url('https://images.pexels.com/photos/814499/pexels-photo-814499.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">

                        <div class="text-center p-3 hero">
                            <div class="container">
                                <div class="col-12">
                                    <h2 class="text-uppercase text-white text-hero"> Purchase Order Management </h2>
                                    <h5 class="text-uppercase text-white mt-3 text-h5-hero"> Welcome User </h5>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <!-- #### SLIDE THREE #### -->
                    <div class="carousel-item" style="background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .6)), url('https://images.pexels.com/photos/132037/pexels-photo-132037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">

                        <div class="text-center p-3 hero">
                            <div class="container">
                                <div class="col">
                                    <h1 class="text-uppercase text-white text-hero"> Purchase Order Management </h1>
                                    <h5 class="text-uppercase mt-3 text-white text-h5-hero"> Welcome User </h5>
                            </div>
                            </div>
                        </div>

                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"> &lsaquo; </a>                
                        
                        
                    

                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"> &rsaquo; </a>
                      
                                       

            </div>
       
        

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>

        <!--  bootsrap Carousral-->

        


        
        

   